*~
.idea/
.libs/
Makefile
Makefile.fragments
Makefile.objects
autom4te.cache/
bak/
build/
config.h
config.h.in
config.log
config.nice
config.status
configure
configure.ac
libtool
modules/
pdo_sqlrelay.la
run-tests.php
src/.libs/
src/pdo_sqlrelay.dep
src/pdo_sqlrelay.lo
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
